VITE_SUPABASE_URL=https://rvirjqlaffiflodseior.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2aXJqcWxhZmZpZmxvZHNlaW9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1Njc4NDksImV4cCI6MjA5MzE0Mzg0OX0.9XL76rb6DsUbRDOvZx5jhsnGksHINn88ftyQpDxmva4
# Redis Configuration (Upstash)
UPSTASH_REDIS_REST_URL=https://known-lynx-114760.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAcBIAAIgcDE1MjAzYTJjNTIxMmM0NmJlOWEyNGU2YWQ2NGJjYThjMw
REDIS_ENABLED=true
